streamlit
seaborn
python-dotenv
groq
gunicorn
requests
requests-oauthlib
requests-toolbelt
langchain
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-groq
langchain-mistralai
langchain-openai
langchain-text-splitters
faiss-cpu
chromadb
PyMuPDF
pypdf
sentence-transformers
crewai
crewai-tools
cryptography
timm
numpy
streamlit 
pillow 
torchvision 
torchcam 
langchain 
chromadb
path
pathlib